/* personal.css */
.personal-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.profile {
    flex-basis: 30%; /* 调整为所需的比例 */
    text-align: center;
}

.profile img {
    width: 150px; /* 根据需要调整尺寸 */
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.health-records, .personal-achievements, .preferences {
    flex-basis: 45%; /* 调整为所需的比例 */
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #f9f9f9; /* 背景色 */
}

h2 {
    color: #333;
    margin-bottom: 10px;
}

/* 退出登录按钮样式 */
.logout-button {
    padding: 10px 20px;
    background-color: #f44336; /* 红色背景 */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    margin: 10px 0;
    text-decoration: none;
}

.logout-button:hover {
    background-color: #d32f2f; /* 深红色背景 */
}

