/* 登录页面的基本布局和样式 */
.login-container {
    text-align: center;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Logo样式 */
.logo {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* 卡片样式，包含登录和注册表单 */
.card {
    width: 350px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
}

/* 切换按钮容器样式 */
.switch-container {
    display: flex;
    justify-content: center;
    padding: 10px;
}

/* 切换按钮样式 */
.switch-button {
    flex-grow: 1;
    padding: 10px;
    border: none;
    background: none;
    color: #999; /* 默认颜色为灰色 */
    cursor: pointer;
    font-size: 16px;
}

/* 激活状态的切换按钮样式 */
.active {
    font-weight: bold;
    color: #007bff; /* 激活状态高亮为蓝色 */
}

/* 表单样式 */
.form {
    padding: 20px;
}

/* 输入框样式，调整宽度 */
.input-field {
    width: calc(100% - 40px); /* 减少总宽度以适应卡片内边距 */
    padding: 10px;
    margin: 10px 20px; /* 增加左右边距 */
    border: 1px solid #ddd;
    border-radius: 4px;
}


/* 提交按钮样式，调整宽度 */
.submit-button {
    width: calc(100% - 40px); /* 与输入框宽度相同 */
    padding: 10px;
    margin: 20px; /* 保持与输入框的边距一致 */
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0056b3;
}
