/**style.css**/
nav {
    display: flex;
    justify-content: center; /* 确保内容居中 */
    align-items: center;
    background-color: #007bff;
    padding: 10px 0;
}

nav .logo {
    position: absolute; /* 设置logo为绝对定位 */
    left: 20px; /* 距离左边的距离 */
    font-size: 24px;
    color: white;
}

nav .logo a {
    text-decoration: none;
    color: white;
}

nav ul li {
    margin-right: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}



nav ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    transition: background-color 0.4s ease;
    display: block;
    border-radius: 10px;
}

nav ul li a.active, nav ul li a:hover {
    background-color: white;
    color: #007bff;
    border-radius: 10px;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* 根据页面调整这个高度 */
}

.dot {
    visibility: hidden;
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #3498db;
    border-radius: 50%;
    animation: jump 1.0s ease-in-out infinite;
}

.dot:nth-child(2) {
    animation-delay: 0.1s;
}

.dot:nth-child(3) {
    animation-delay: 0.2s;
}

@keyframes jump {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-15px); }
}


section {
    display: flex;
    flex-wrap: wrap; /* 当行内空间不足时，换行排列 */
    justify-content: space-around; /* 卡片间的空间均匀分布 */
    align-items: flex-start; /* 卡片顶部对齐 */
    margin-top: 20px;
    padding: 10px; /* 根据需要添加内边距 */
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh; /* 视口高度 */
}

.content {
    flex: 1; /* 使内容区域灵活填充空间 */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
/* 隐藏所有卡片，直到数据加载完成 */
#basic-info, #sleep-info, #other-info, #health-goals, #family-health-updates {
    display: none;
}

.card {
    max-width: 400px; /* 设置最大宽度，防止卡片过宽 */
    min-width: 300px; /* 设置最小宽度，保持基本可读性 */
    width: auto; /* 宽度根据内容自适应 */
    padding: 20px;
    margin: 10px auto; /* 水平居中显示 */
    border-radius: 10px;
    border: 2px solid #ddd;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: border 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.card:hover {
    border: 2px solid #007bff; /* 边框悬浮时颜色 */
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); /* 阴影效果 */
    background-color: rgba(255, 255, 255, 0.9); /* 悬浮时背景更少透明 */
}

.card h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card ul {
    list-style: none;
    padding: 0;
    margin: 0; /* 移除默认的外边距 */
}

.card ul li {
    margin-bottom: 8px;
    font-size: 14px;
}

.health-data {
    height: 150px; /* 设置高度，防止卡片过高 */
}

.title {
    display: inline-block;
    width: 80px; /* 调整小标题的宽度 */
    vertical-align: top; /* 与进度条对齐 */
    white-space: nowrap; /* 防止换行 */
}

.progress-container {
    position: relative;
    display: inline-block;
    width: 180px;
    height: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 10px;
}

.progress-bar {
    height: 100%;
    transition: width 0.4s ease;
}

.progress-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: black; /* 根据需要调整颜色 */
}

.step-progress .progress-bar {
    background-color: #26c6da;
}

.calorie-progress .progress-bar {
    background-color: #ff6f61;
}

.exercise-progress .progress-bar {
    background-color: #ab47bc;
}


/* 我的健康目标和家庭健康动态的共通样式 */
#family-health-updates, #health-goals {
    background-color: #f0f8ff; /* 与健康记录部分的背景色一致 */
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 20px;
    width:450px;
}

#family-health-updates h2, #health-goals h2 {
    border-bottom: 2px solid #4caf50; /* 标题下的绿色边框 */
    color: #2c3e50; /* 标题颜色 */
    padding-bottom: 5px;
    margin-bottom: 10px;
}

#family-health-updates ul, #health-goals ul {
    list-style: none; /* 移除默认列表样式 */
    padding: 0;
}

#family-health-updates li, #health-goals li {
    background-color: #ffffff; /* 列表项背景色 */
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px; /* 圆角样式 */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); /* 阴影效果 */
    position: relative;
}

.date-align {
    float: right; /* 日期向右对齐 */
    color: #666; /* 日期文字颜色 */
    font-size: 0.9em; /* 日期字体大小 */
}
